appdirs
bleach
certifi
cffi
chardet
contextlib2
cryptography
distlib
docutils
filelock
future
idna
importlib-metadata
importlib-resources
jeepney
jsonschema ~= 4.0.0
keyring
packaging
pip_system_certs
pkginfo
pluggy
py
pycparser
pygit2 == 1.10.1 # https://github.com/libgit2/pygit2/issues/1176
Pygments
pyparsing
PyYAML
readme-renderer
requests
requests-toolbelt
rpm
ruamel.yaml
schema
SecretStorage
six
toml
tqdm
twine
urllib3
virtualenv
webencodings
zipp
