apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: fips-pipeline
spec:
  params:
    - description: 'Doozer data path i.e. ocp build data url'
      name: data_path
      type: string
      default: 'https://github.com/openshift-eng/ocp-build-data'
    - description: 'Space separated NVRs'
      name: nvrs
      type: string
  tasks:
    - name: run-script
      params:
        - name: data_path
          value: $(params.data_path)
        - name: nvrs
          value: $(params.nvrs)
      taskRef:
        kind: Task
        name: fips-pipeline-task
