Jinja2
aiofiles
aiohttp[speedups] >= 3.6
aiohttp_retry
aioredlock >= 0.7.3
asyncstdlib
click == 8.1.8
awscli >= 1.37.0
contextvars
errata-tool ~= 1.31.0
cryptography
ghapi == 1.0.6
jenkinsapi >= 0.3.13  # https://github.com/pycontribs/jenkinsapi/issues/833
jira >= 3.4.1  # https://github.com/pycontribs/jira/issues/1486
openshift-client ~= 2.0.1
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
pygit2 >= 1.11.1 # https://github.com/libgit2/pygit2/issues/1176
redis >= 5.0.1
rh-doozer
rh-elliott
ruamel.yaml
semver ~= 3.0.1
slack_bolt >= 1.23.0
slack_sdk >= 3.13.0
stomp.py ~= 8.1.0
tenacity ~= 8.4, != 8.4.0 # https://github.com/jd/tenacity/issues/471
tomli ~= 2.0.1
specfile; sys_platform == "linux"
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
mysql-connector-python>=9.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
async_lru
packageurl-python
python-gitlab
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
