aiofiles
async-lru
asyncstdlib
bashlex
click == 8.1.8
dockerfile-parse >= 0.0.13
defusedxml
future
httpx
httpx_gssapi
importlib-resources
koji
kubernetes ~= 29.0
kubernetes-asyncio ~= 29.0
nest-asyncio >= 1.6.0
openshift ~= 0.13.2
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
pip_system_certs
PyGitHub == 1.59.1
pyyaml >= 5.1
requests
requests_kerberos
semver
tenacity ~= 8.4, != 8.4.0  # https://github.com/jd/tenacity/issues/471
truststore
wrapt
mysql-connector-python >= 8.0.21
python-dateutil >= 2.8.1
openshift-client ~= 2.0.1
ruamel.yaml
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp
jira>=3.4.1
ghapi
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
packageurl-python
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
