aiofiles
aiohttp[speedups] >= 3.6
aiohttp >= 3.9.4  # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp_retry
aioredlock >= 0.7.3
bashlex
click >= 8.1.3
contextvars
cryptography
defusedxml
dockerfile-parse >= 0.0.13
errata-tool ~= 1.31.0
future
ghapi
jenkinsapi >= 0.3.13  # https://github.com/pycontribs/jenkinsapi/issues/833
jira >= 3.4.1  # https://github.com/pycontribs/jira/issues/1486
koji
mysql-connector-python >= 8.0.21
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-sdk
openshift-client ~= 2.0.1
pip_system_certs
PyGitHub == 1.59.1
pydantic ~= 1.10.7
pygit2 >= 1.11.1  # https://github.com/libgit2/pygit2/issues/1176
pyyaml >= 5.1
python-dateutil >= 2.8.1
redis >= 5.0.1
requests >= 2.32.0  # not directly required, pinned by Snyk to avoid a vulnerability
requests_kerberos
ruamel.yaml
semver ~= 3.0.1
setuptools >= 65.5.1
slack_sdk >= 3.13.0
specfile
stomp.py ~= 8.1.0
tenacity
tomli ~= 2.0.1
wrapt
