pydantic >= 2.11
future
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
opentelemetry-api
sqlalchemy
pip-system-certs>=5.2
requests-gssapi
