# elliott is synced from openshift-eng/elliott to ashwindasr/art-tools#elliott every 6 hrs

name: merge doozer elliott

on:
  workflow_dispatch: {}
  push: {}

jobs:
  merge-doozer-elliott:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: refs/heads/doozer-elliott-merged

      - name: Merge
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
                   
          mkdir working-dir

          cd working-dir || exit
          
          export FILTER_BRANCH_SQUELCH_WARNING=1
          
          # doozer
          git clone "https://github.com/openshift-eng/doozer"
          cd doozer || exit
          # Create a root directory called doozer and move all files and folders into that.
          # Command adds prefix doozer/ to the path of each file in the index (staging area) of every commit in the branch's history.
          # The modified index is then updated and saved back to replace the original index.
          # This process effectively renames all the files in the branch's history by adding the doozer/ prefix to their paths.
          git filter-branch --index-filter \
            'git ls-files -s | sed "s-\t\"*-&doozer/-" |
             GIT_INDEX_FILE=$GIT_INDEX_FILE.new \
             git update-index --index-info &&
             mv "$GIT_INDEX_FILE.new" "$GIT_INDEX_FILE"' HEAD
          cd ..
          
          # elliott
          git clone "https://github.com/openshift-eng/elliott"
          cd elliott || exit
          # Create a root directory called doozer and move all files and folders into that
          git filter-branch --index-filter \
            'git ls-files -s | sed "s-\t\"*-&elliott/-" |
             GIT_INDEX_FILE=$GIT_INDEX_FILE.new \
             git update-index --index-info &&
             mv "$GIT_INDEX_FILE.new" "$GIT_INDEX_FILE"' HEAD
          cd ..
          
          # Pull data from the other git repos
          git remote add --fetch doozer-temp working-dir/doozer/
          git remote add --fetch elliott-temp working-dir/elliott/
          
          # Merge the commit histories
          git merge doozer-temp/master --allow-unrelated-histories
          git merge elliott-temp/master --allow-unrelated-histories
          
          rm -rf working-dir
          
          git push origin doozer-elliott-merged

