
name: unit-tests

on:
  pull_request:
    paths:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    container: fedora:38
    steps:
      - name: Install git
        run: dnf install -y git
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          set-safe-directory: ${{ env.GITHUB_WORKSPACE }}
      - name: Install packages
        run: dnf install -y gcc krb5-devel
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Create venv and install dependencies
        run: make venv
      - name: Run tests
        run: make test
