name: unit-tests

on:
  pull_request:
    paths:
      - "**"

jobs:
  tests:
    runs-on: ubuntu-latest
    container: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install dependencies
        run: dnf install -y --nobest git clang gcc krb5-devel make glibc

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          set-safe-directory: ${{ env.GITHUB_WORKSPACE }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Verify uv installation
        run: uv --version

      - name: Create venv and install dependencies
        run: make venv

      - name: Run tests
        run: make test
